.empty-state {
  height: 200px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  background-color: var(--surface-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-strong);
  box-shadow: var(--shadow-soft);
}
.rotate-image {
  transform: rotate(25deg);
}
